@use "../variables" as *;

.wrapper{
    display: flex;
    gap: 30px;
    font-family: $font-family-main;
    width: 100%;
}

.cart{
    width: 100%;
    background-color: $dark;
    border-radius: 10px;
    margin-top: -20px;
    position: relative;
}

.list{
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    margin-inline: 20px;
    margin-top: 20px;
    width: 900px;
    padding: 10px;
    border-radius: 10px;
    gap: 70px;
    align-items: center;
    background-color: $bg;
}
.quantity{
    display: flex;
    text-align: center;
    width: 100px;
    .quant{
        width: 30px;
        font-size: 10px;
        text-align: center;
        align-content: center;
        background-color: #1e1e1edf;
    }
}
.image{
    width: 140px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.info{
    font-size: 10px;
    width: 250px;
    .category{
        color: $grey;
    }
    .name{
        font-size: 12px;
    }
}

.price{
    font-size: 14px;
    width: 40px;
}
.title{
    margin-top: 30px;
}

.minus{
    fill: $grey;
    cursor: pointer;
    width: 20px;
    align-content: center;
    border-radius: 4px;
    height: 20px;
    background-color: $dark-sea;
    &:hover{
        fill: white;
    }
}
.total{
    font-size: 14px;
    width: 60px;
}
.plus{
    fill: $grey;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    align-content: center;
    cursor: pointer;
    background-color: $dark-sea;
    &:hover{
        fill: white;
    }
}

.delete{
    cursor: pointer;
    background-color: $dark-sea;
    border-radius: 10px;
    width: 20px;
    align-content: center;
    height: 20px;
    color: $grey;
    &:hover{
        color: white;
    }
}

.footCart{
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 250px;
    left: 50px;
    position: absolute;
    .actions{
        font-size: 30px;
        color: $grey;
        font-weight: 700;
        width: 350px;
    }
    span{
        color: white;
    }
    .proceed{
        height: 50px;
        font-size: 20px;
    }
}