@use "../variables" as *;


.section{
    margin-block: 15px;
    padding: 10px;
    font-family: $font-family-main;
    h2{
        font-size: 30px;
    }
}
.list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.item{
    width: calc(100%/5 - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 20px;
    background-size: 100%;
    transition: background-size 0.25s ease;
    &:hover{
        background-size: 110%;
    }
}